* {
  box-sizing: border-box;
}

/* mobile-first: initial layout based on screen width < 500px  */

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav,
.menu-items,
.content-wrapper,
.welcome {
  display: flex;
  flex-wrap: wrap;
}

/* header */
nav {
  background-color: #eeeeee;
}

.website-title {
  margin: 0.6rem auto 0.6rem 1.6rem;
  font-size: 1rem;
  font-weight: lighter;
}

.menu-item {
  display: none;
}

.bar-icon {
  margin: 0.6rem 2.8rem 0.6rem auto;
  font-size: 1.4rem;
}

.welcome {
  height: 200px;
  font-size: 1.8rem;
  background-color: #ccdded;
  justify-content: center;
  align-items: center;
}

/* main */
main {
  width: 90%;
  margin: 10px auto;
}

.content-wrapper {
  margin-bottom: 0.5rem;
}

.content-box {
  flex: 1 400px;
  padding-top: 10px;
  margin: 0.6rem auto;
  min-height: 140px;
  background-color: #8899a9;
}

/* footer */
#action-btn {
  display: inline-flex;
  flex: 1;
  padding: 1rem;
  margin-left: auto;
  background-color: #ddeefe;
}

/* font */
.welcome,
.section-title {
  font-weight: bold;
}

section,
footer {
  text-align: center;
}


/* Media Queries */
@media screen and (min-width: 500px) {
  .content-box {
    flex: 1 40%;
    margin: 10px 1rem;
  }
}

@media screen and (min-width: 800px) {
  .menu-items {
    width: 40%;
    justify-content: space-around;
    font-size: 1.4rem;
    margin: 0.6rem 2.8rem 0.6rem auto;
  }

  .website-title,
  .menu-item {
    display: inline-flex;
    padding: 10px;
    font-size: 1rem;
  }

  .bar-icon {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  body {
    margin: 0 auto;
  }

  nav {
    flex-wrap: nowrap;
  }

  .website-title {
    width: 70%;
    justify-content: flex-start;
  }

  .menu-items {
    width: 30%;
    margin-left: 20px;
    justify-content: flex-end;
  }

  main {
    max-width: 1200px;
  }
}